.advantages {
  position: relative;

  &::before {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      left: 0;
      top: 205px;
      width: 100%;
      height: 37px;
      background-image: url("../img/svg/advantages-triangle.svg");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
    }
  }
}

.advantages__text-block {
  position: relative;
  padding: 34px 12px 16px;

  @media (min-width: $tablet-width) {
    width: 560px;
    padding: 47px 20px 55px;
  }

  @media (min-width: $desktop-width) {
    width: 550px;
    padding: 59px 20px 44px;
  }
}

.advantages__tagline {
  display: block;
  margin: 0 0 35px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    transform: translate(-2px, 1px);
  }
}

.advantages__text {
  margin: 0;
  text-align: center;
  color: $text-color-2;
}

.advantages__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: counter;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  @media (min-width: $tablet-width) {
    flex-basis: calc(100% / 3);
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
  }

  &--wide {
    @media (min-width: $tablet-width) {
      flex-basis: 100%;
      width: 100%;
    }
  }
}

.advantages__picture-block {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  &--reverse {
    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;
    }
  }
}

.advantages__content {
  position: relative;
  padding: 40px 20px 37px;
  background-color: $background-color-3;
  color: $start-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    max-width: 256px;
    padding: 52px 30px 31px;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: 60px;
      left: 50%;
    }

    @media (min-width: $desktop-width) {
      top: 69px;
    }
  }

  &--hotel::before {
    width: 40px;
    height: 40px;
    background-image: url("../img/svg/hotel.svg");

    @media (min-width: $tablet-width) {
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 77px;
      height: 72px;
    }

    @media (min-width: $desktop-width) {
      width: 78px;
    }
  }

  &--food::before {
    width: 40px;
    height: 40px;
    background-image: url("../img/svg/burger.svg");

    @media (min-width: $tablet-width) {
      left: 0;
      right: 0;
      width: 80px;
      height: 68px;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      width: 73px;
      height: 76px;
      transform: translateX(-3px);
    }
  }

  &--gift::before {
    width: 40px;
    height: 40px;
    background-image: url("../img/svg/gift.svg");

    @media (min-width: $tablet-width) {
      left: 0;
      right: 4px;
      width: 81px;
      height: 75px;
      margin: 0 auto;
      transform: translate(5px, 3px);
    }

    @media (min-width: $desktop-width) {
      width: 78px;
      height: 75px;
      background-image: url("../img/icons/gift-desktop.svg");
    }
  }

  &--sity {
    @media (max-width: $mobile-width-only) {
      padding-top: 73px;
    }

    @media (min-width: $desktop-width) {
      padding: 53px 69px 31px;
    }
  }

  &--bridge {
    @media (min-width: $desktop-width) {
      padding: 53px 69px 31px;
    }
  }

  &--icon {
    margin-bottom: 25px;
    padding: 8px 0 0 52px;
    background-color: $start-color;
    color: $end-color;
    text-align: left;

    @media (min-width: $tablet-width) {
      min-height: 331px;
      padding: 157px 33px 60px;
      margin: 0;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      padding: 169px 50px 67px;
    }
  }

  &--number {
    margin: 0;
    padding: 25px 31px 26px;
    background-color: $background-color-4;
    color: $end-color;

    @media (min-width: $tablet-width) {
      padding: 41px 33px 41px;
      border: none;
    }

    @media (min-width: $desktop-width) {
      padding: 52px 50px 41px;
    }
  }

  &--center {
    @media (min-width: $tablet-width) {
      padding: 54px 30px 31px;
    }
  }
}

.advantages__subject {
  margin: 0 0 16px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &::after {
    content: "— №" counter(counter) " —";
    counter-increment: counter;
    display: block;
    margin-top: 11px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 25px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 69px;
  }
}

.advantages__description {
  margin: 0;
  color: $text-color-2;

  &--light {
    color: $start-color;

    // @media (min-width: $desktop-width) {
    //   padding: 0 63px;
    // }
  }
}

.advantages__image {
  display: block;
  width: 100%;
  max-width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    max-width: 800px;
  }
}

.advantages__sub-list {
  @include list-reset;
  padding: 23px 0 21px;

  .advantages__subject {
    &::after {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.advantages__sub-item {
  padding: 0 12px;

  @media (min-width: $tablet-width) {
    flex-basis: calc(100% / 3);
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &--wide {
    @media (min-width: $tablet-width) {
      flex-basis: 100%;
      width: 100%;
    }
  }
}
