.advantages__text-block {
  width: 320px;
  margin: 0 auto;
  padding: 32px 18px;

  @media (min-width: $tablet-width) {
    width: 560px;
    padding: 47px 20px 55px;
  }

  @media (min-width: $desktop-width) {
    width: 550px;
    padding: 59px 20px 44px;
  }
}

.advantages__tagline {
  display: block;
  margin: 0 0 35px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.advantages__text {
  margin: 0;
  text-align: center;
  color: $text-color-2;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: counter;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.advantages__picture-block {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.advantages__content {
  width: 320px;
  padding: 42px 33px 41px;
  background-color: $background-color-3;
  color: $start-color;
  text-align: center;

  &--icon {
    margin-bottom: 25px;
    padding: 0 0 0 47px;
    background-color: $start-color;
    color: $end-color;
    text-align: left;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 60px 33px;
    }

    @media (min-width: $desktop-width) {
      width: 400px;
      height: 330px;
      padding: 69px 50px 67px;
    }
  }

  &--number {
    margin: 0;
    padding: 24px 0 24px;
    background-color: $background-color-4;
    color: $end-color;

    @media (min-width: $tablet-width) {
      padding: 52px 33px;
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 256px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__subject {
  margin: 0 0 16px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &::after {
    content: "— №" counter(counter) " —";
    counter-increment: counter;
    display: block;
    margin-top: 11px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
}

.advantages__description {
  margin: 0;
}

.advantages__images-wrapper {
  @media (min-width: $tablet-width) {
    width: 512px;
    height: 256px;
  }
}

.advantages__image {
  display: block;
}

.advantages__sub-list {
  @include list-reset;
  padding: 23px 0 21px;

  .advantages__subject {
    &::after {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}
