//button
.button {
  @include input-reset;
  display: block;
  width: 100%;
  padding: 16px 20px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: $background-color-3;
  color: $start-color;
  text-align: center;
  text-transform: uppercase;

  border: none;
  cursor: pointer;

  &:hover {
    background-color: $background-color-7;
  }

  &:active,
  &:focus {
    background-color: $background-color-8;
    color: $text-color-6;
    outline: none;
  }

  &:disabled {
    background-color: $border-color;
    pointer-events: none;
  }
}
