.button {
  @include input-reset;
  display: block;
  padding: 16px 20px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: $background-color-3;
  color: $start-color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
