//contacts
.contacts__map {
  display: flex;
  width: 100%;
}

.contacts__map--image {
  position: relative;
  height: 350px;
  background-color: $background-color-5;
  background-image: url("../img/background-map-mobile.jpg");
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 46%;
    left: 46%;
    width: 27px;
    height: 27px;
    background-image: url("../img/svg/map-marker.svg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/background-map-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background-map-desktop.jpg");
  }
}

.contacts iframe {
  display: block;
  width: 100%;
  height: 350px;
  border: none;
}
