.copyright__link {
  display: flex;
  justify-content: center;
  // align-items: center;
  // width: 128px;
  height: 60px;
  margin: 0;
  padding: 11px 0 10px;
  color: $end-color;
  text-align: center;
}

.copyright__link svg {
  transform: translate(9px, -9px);
}

.copyright__text {
  color: $end-color;
}

.copyright__icon {
  fill: $end-color;
}

.copyright__link:hover,
.copyright__link:hover .copyright__icon {
  color: $background-color-3;
  fill: $background-color-3;
}

.copyright__link:active,
.copyright__link:active .copyright__icon {
  fill: $text-color-8;
  color: $text-color-8;
}
