.feedback__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: $start-color;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0 120px;
  }
}

.feedback__header {
  margin: 0 auto;
  padding: 38px 0 28px;

  @media (min-width: $tablet-width) {
    width: 500px;
    padding: 64px 20px 78px;
  }

  @media (min-width: $desktop-width) {
    padding: 115px 20px 42px;
  }
}

.feedback__title {
  margin: 0 0 24px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 26px;
  }
}

.feedback__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $text-color-2;
  text-align: center;
}

.feedback__form {
  padding-bottom: 24px;
}
