.field-text__label {
  display: block;
  margin-bottom: 16px;
}

.field-text__label-name {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $text-color-2;
  text-align: center;
}

.field-text__input {
  @include input-reset;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: $background-color;
  color: $end-color;
}
