.form__column-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 26px 0 46px;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      width: 1px;
      height: 338px;
      background-color: $background-color-6;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      left: 493px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 55px;
  }
}

.form__fieldset {
  @include fieldset-reset;
  padding: 24px 0 20px;
  border-top: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-top: none;
  }

  &--radio {
    padding-bottom: 7px;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 28px;
    }
  }

  &--names {
    @media (min-width: $tablet-width) {
      width: calc(52% - 43px);
    }

    @media (min-width: $desktop-width) {
      width: calc(52% - 69px);
      margin-bottom: 0;
    }
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      width: calc(48% - 31px);
    }

    @media (min-width: $desktop-width) {
      width: calc(48% - 58px);
      margin-bottom: 0;
    }
  }
}

.form__fieldset--textarea {
  padding: 24px 0 34px;

  @media (min-width: $tablet-width) {
    min-height: 160px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
  }
}

.form__list {
  @include list-reset;
  padding: 0 20px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &--radio {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 16px;
      max-width: 578px;
      margin: 0 auto;
      padding: 30px 0 31px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      max-width: 960px;
      min-height: 80px;
      gap: 0 28px;
      padding: 28px 40px 31px;
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 32px;
      max-width: 480px;
      margin: 0 auto;
      padding: 28px 0 0;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      max-width: 960px;
      padding: 61px 32px 31px 44px;
    }
  }
}

.form__item {
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 280px;
  }

  @media (min-width: $desktop-width) {
    max-width: 430px;
  }

  &--radio {
    @media (min-width: $desktop-width) {
      padding: 18px 0 13px 10px;
    }
  }
}

.form__title {
  @include legend-reset;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
    font-size: 21px;
  }

  &--name {
    @media (min-width: $tablet-width) {
      margin-left: 14px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 31px;
    }
  }

  &--info {
    @media (min-width: $tablet-width) {
      transform: translateX(-18px);
    }

    @media (min-width: $desktop-width) {
      transform: translateX(-35px);
    }
  }

  &--sight {
    @media (min-width: $tablet-width) {
      margin-bottom: 3px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--impression {
    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 0 30px;
      background-color: $start-color;
    }
  }

  &--textarea {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--decoration {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $background-color-6;
      z-index: 0;
    }
  }
}

.form__title-accent {
  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    width: 402px;
    margin: 0 auto;
    padding: 0 40px;
    background-color: $start-color;
  }
}

.form__toggle {
  display: none;
}

.form__toggle-text {
  position: relative;
  display: block;
  padding: 10px 13px 10px 62px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $end-color;
  text-transform: none;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    left: 0;
    display: block;
    width: 46px;
    height: 46px;
    background-color: $background-color;
    border: 2px solid $background-color;
  }

  &::after {
    position: absolute;
    content: "";
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity;
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--radio::after {
    top: 12px;
    left: 15px;
    width: 16px;
    height: 16px;
    background-color: $text-color-2;
    border-radius: 50%;
  }

  &--checkbox::after {
    position: absolute;
    content: url("../../img/svg/tick.svg");
    top: 9px;
    left: 12px;
    width: 22px;
    height: 16px;
  }
}

.form__toggle:checked + .form__toggle-text::after {
  opacity: 1;
}

.form__label {
  display: block;
  margin: 0 0 16px 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $text-color-2;
  text-transform: uppercase;

  &:hover .form__toggle-text::before {
    background-color: $border-color;
  }

  &:active .form__toggle-text::before {
    background-color: $color-dark-grey;
    border-color: $color-dark-grey;
  }

  &:active .form__toggle-text--radio::after,
  &:active .form__toggle-text--checkbox::after {
    color: rgba(51, 51, 51, 0.3);
  }

  &--radio {
    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }
}

.form__label-name {
  display: block;
  margin: 0;
  padding-left: 16px;
}

.form__input {
  @include input-reset;
  width: 100%;
  padding: 16px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: $background-color;
  color: $end-color;

  &--phone {
    padding-right: 58px;
    background-image: url("../img/svg/phone.svg");
    background-repeat: no-repeat;
    background-position: 100% center;
  }

  &--email {
    padding-right: 58px;
    background-image: url("../img/svg/mail.svg");
    background-repeat: no-repeat;
    background-position: 100% center;
  }

  &:hover {
    color: $end-color;
    background-color: $border-color;
  }

  &:active,
  &:focus {
    color: $end-color;
    background-color: $start-color;
    border: 4px solid $border-color;
    box-shadow: inset 0 0 0 4px $border-color;
  }
}

.form__textarea {
  display: block;
  min-width: 279px;
  min-height: 150px;
  margin: 0 auto;
  padding: 16px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $color-black-transparent;
  background-color: $background-color;
  border: none;

  @media (min-width: $tablet-width) {
    width: 648px;
    min-height: 160px;
    margin-top: 56px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    margin-top: 54px;
  }
}

.form__button-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 24px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 648px;
    margin-bottom: 34px;
    padding-top: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    margin-bottom: 38px;
  }
}

.form__button {
  min-width: 280px;

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.form__field {
  margin: 0;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: $text-color-4;
  text-align: right;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    font-size: 14px;
  }
}
