.form__column-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__fieldset {
  @include fieldset-reset;
  padding: 24px 0 0;
  border-top: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    border-top: none;
  }

  &--radio {
    margin-bottom: 23px;
  }
}

.form__fieldset--textarea {
  padding: 24px 0 0;

  @media (min-width: $tablet-width) {
    min-height: 160px;
  }
}

.form__fieldset--decoration {
  position: relative;

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      top: 37px;
      width: 100%;
      height: 1px;
      background-color: $background-color-6;
      z-index: 0;
    }
  }
}

.form__list {
  @include list-reset;
  margin-bottom: 23px;
  padding: 0 20px;
  text-transform: none;

  &--radio {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      width: 648px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
      width: 960px;
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      width: 648px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 960px;
    }
  }
}

.form__item {
  margin: 0;
}

.form__title {
  @include legend-reset;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
    font-size: 21px;
  }
}

.form__title-accent {
  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    width: 402px;
    margin: 0 auto 28px;
    padding: 0 40px;
    background-color: $start-color;
  }
}

.form__toggle {
  display: none;
}

.form__toggle-text {
  position: relative;
  display: block;
  padding: 10px 13px 10px 62px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $end-color;
  text-transform: none;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    left: 0;
    display: block;
    width: 46px;
    height: 46px;
    background-color: $background-color;
    border: 2px solid $background-color;
  }

  &::after {
    position: absolute;
    content: "";
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity;
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--radio::after {
    top: 12px;
    left: 15px;
    width: 16px;
    height: 16px;
    background-color: $text-color-2;
    border-radius: 50%;
  }

  &--checkbox::after {
    position: absolute;
    content: url("../../img/svg/tick.svg");
    top: 9px;
    left: 12px;
    width: 22px;
    height: 16px;
  }
}

.form__toggle:checked + .form__toggle-text::after {
  opacity: 1;
}

.form__label {
  display: block;
  margin: 0 0 16px 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $text-color-2;
  text-transform: uppercase;
}

.form__label-name {
  display: block;
  margin: 0;
  padding-left: 16px;
}

.form__input {
  @include input-reset;
  width: 100%;
  padding: 16px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: $background-color;
  color: $end-color;

  &--phone {
    padding-right: 58px;
    background-image: url("../img/svg/phone.svg");
    background-repeat: no-repeat;
    background-position: 100% center;
  }

  &--email {
    padding-right: 58px;
    background-image: url("../img/svg/mail.svg");
    background-repeat: no-repeat;
    background-position: 100% center;
  }
}

.form__textarea {
  display: block;
  min-width: 279px;
  min-height: 150px;
  margin: 0 auto;
  padding: 16px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $color-black-transparent;
  background-color: $background-color;
  border: none;

  @media (min-width: $tablet-width) {
    width: 648px;
    min-height: 160px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}

.form__button-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 24px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}

.form__button {
  min-width: 280px;

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.form__field {
  margin: 0;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: $text-color-4;
  text-align: right;
}
