.form__group {
  @include fieldset-reset;
}

.form__title {
  @include legend-reset;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.form__fields-list {
  @include list-reset;
}
