.main-nav {
  position: relative;
  background-color: $background-color-3;

  @media (min-width: $tablet-width) {
    background-color: $start-color;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 44px;
  height: 36px;
  padding: 17px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  z-index: 4;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    border-color: $end-color;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  top: 6px;
  right: 10px;
  width: 23px;
  height: 4px;
  background-color: $background-color-3;
  box-shadow: 0 10px 0 0 $background-color-3, 0 20px 0 0 $background-color-3;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade($background-color-3, 30%);
  box-shadow:
    0 10px 0 0 fade($background-color-3, 30%),
    0 20px 0 0 fade($background-color-3, 30%);
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;

    &--active {
      display: block;
    }
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 8px;
    width: 28px;
    height: 3px;
    background-color: $start-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 223px;
  background-color: $background-color-3;
  z-index: 3;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .main-nav__item {
  display: block;
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    background-color: transparent;
  }
}

.main-nav__list {
  @include list-reset;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__item {
  background-color: $background-color-3;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  box-shadow: 0 1px rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    width: 154px;
    background-color: $start-color;
    border: none;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    width: 240px;
  }
}

.main-nav__item:nth-child(3n+3) {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.main-nav__link {
  display: block;
  padding: 18px 20px 12px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: $background-color-3;
  color: $start-color;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 19px 10px 15px 12px;
    font-size: 14px;
    line-height: 21px;
    background-color: transparent;
    color: $end-color;
    box-shadow: none;
  }

  &--current {
    @media (min-width: $tablet-width) {
      color: $text-color-3;
      pointer-events: none;
    }
  }

  &:hover {
    @media (max-width: $mobile-width-only) {
      background-color: $background-color-7;
    }

    @media (min-width: $tablet-width) {
      color: $background-color-3;
    }
  }

  &:active {
    @media (max-width: $mobile-width-only) {
      background-color: $background-color-8;
      color: $text-color-7;
    }

    @media (min-width: $tablet-width) {
      color: $color-black-transparent;
    }
  }
}
