//main-inner
.main-inner__intro {
  padding: 37px 20px 35px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    width: 480px;
    margin: 0 auto;
    padding: 66px 20px 80px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 20px 65px;
  }
}

.main-inner__title {
  margin: 0 0 27px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    font-size: 30px;
  }
}

.main-inner__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $text-color-2;
  text-align: center;
}
