.main-footer {
  width: 100%;
  margin: 0 auto;
  padding: 30px 57px 23px;
  text-align: center;
  color: $end-color;
  text-transform: uppercase;
  background-color: $start-color;

  @media (min-width: $tablet-width) {
    padding: 36px 32px 36px 59px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 126px 36px 117px;
  }
}

.main-footer--index {
  padding: 39px 57px 23px 57px;

  @media (min-width: $tablet-width) {
    padding: 30px 37px 36px 59px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 129px 36px 118px;
  }
}

.main-footer--inner {
  @media (min-width: $tablet-width) {
    padding: 30px 45px 36px 59px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 131px 36px 117px;
  }
}

.main-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 148px 156px 165px;
    align-items: center;
    gap: 15%;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 148px 156px 156px;
    gap: 27%;
  }
}

.main-footer__social {
  width: 156px;
  margin: 0 auto 27px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__link {
  display: block;
  width: 166px;
  margin: 0 auto 33px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $end-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 13px 29px 10px 0;
  }
}

.main-footer__copyright {
  padding: 0 39px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 0 18px;
    }
  }

  &--form {
    @media (min-width: $tablet-width) {
      padding: 0 15px;
    }
  }
}
