.main-image {
  display: block;
  width: 320px;
  min-height: 387px;
  margin: 0 auto;
  padding: 90px 0 85px;
  background-color: #aabfd2;
  background-image: url("../img/background-index-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 518px;
    background-image: url("../../img/background-index-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 518px;
    background-image: url("../../img/background-index-desktop.jpg");
  }
}

.main-image--form-photo {
  min-height: 158px;
  background-position: 50% 100%;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 290px;
    background-image: url("../../img/background-index-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 301px;
    background-image: url("../../img/background-index-desktop.jpg");
  }
}
