//main-header
// .main-header__wrapper {
//   width: 320px;
//   margin: 0 auto;
//   padding: 0 20px;
//   background-color: $start-color;
// }

.main-header__logo {
  display: block;
  width: 185px;
  height: 96px;
}
