.main-header {
  position: relative;
  min-height: 56px;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 65px;
  width: 185px;
  height: 96px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    left: 291px;
  }

  @media (min-width: $desktop-width) {
    left: 507px;
  }

  &:hover .main-header__logo-image {
    opacity: 0.8;
  }
}

.main-header__logo-image {
  width: 185px;
  height: 96px;
}
