.main-image {
  width: 320px;
  min-height: 387px;
  background-color: #aabfd2;
  background-image: url("../img/bg-index-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center;
}
