.photo-video {
  padding-top: 38px;
}

.photo-video__title {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.photo-video__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.photo-video__slogan {
  margin: 0 0 32px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.photo-video__intro {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $text-color-2;
  text-align: center;
  text-transform: uppercase;
}
