.photo__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 648px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
  }
}

.photo__block {
  width: 280px;
  min-height: 375px;
  padding: 24px 0 25px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    width: 648px;
    padding: 0;
    border: none;
    background-color: $background-color;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }

  &--small {
    @media (min-width: $tablet-width) {
      flex-basis: calc(100% / 2);
      width: calc(100% / 2);
      min-height: 347px;
    }

    @media (min-width: $desktop-width) {
      flex-basis: calc(100% / 3);
      width: calc(100% / 3);
      min-height: 267px;
    }
  }

  &--grey {
    @media (min-width: $tablet-width) {
      background-color: $background-color-9;
    }
  }
}

.photo__block-container {
  padding: 15px 0 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    padding: 22px 20px 15px;
  }
}

.photo__title {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.photo__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $text-color-2;
  text-transform: none;
}

.photo__button-wrapper {
  display: flex;
  width: 69px;
  height: 26px;
}

.photo__button {
  @include input-reset;
  width: 23px;
  height: 21px;
  margin-right: 14px;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: $end-color;
  // background-color: $start-color;
  // background-image: url("../img/icons/icon-like.svg");
  // background-repeat: no-repeat;
  // background-position: center;
}

.photo__images-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    width: 100%;
  }
}

.photo__image {
  width: 100%;
}
