.search {
  width: 280px;
  margin: 0 auto;
  padding: 40px 0 49px;

  @media (min-width: $tablet-width) {
    width: 500px;
    min-height: 318px;
    padding: 63px 10px 58px;
  }
}

.search__tagline {
  display: block;
  margin: 0 0 20px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    font-size: 30px;
    line-height: 26px;
  }
}

.search__text {
  margin: 0 0 32px 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $text-color-2;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.search__wrap {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.search__button {
  width: 280px;
  min-height: 58px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 458px;
    min-height: 58px;
  }
}
