.wrapper {
  max-width: 320px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    width: 458px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.wrapper--catalog {
  @media (min-width: $tablet-width) {
    width: 648px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}
