.page {
  min-height: 100%;
  background-color: $background-color;
  box-sizing: border-box;
}

.page__body {
  width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $end-color;
  background-color: $start-color;
}

.page__modal-container-mistake {
  display: none;
}

.page__modal-container-feedback {
  display: none;
}
