@mixin list-reset() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin input-reset() {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  appearance: none;
  outline: none;
  box-shadow: none;

  &:focus {
    outline: 0;
  }
}

@mixin fieldset-reset() {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

@mixin legend-reset() {
  display: table;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;

  + * {
    clear: both;
  }
}
