.page {
  min-height: 100%;
}

// .page img {
//   max-width: 100%;
//   height: auto;
//   object-fit: contain;
// }

.page a {
  text-decoration: none;
  cursor: pointer;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: $background-color;
  color: $end-color;
  text-transform: uppercase;
}

.page__body-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  background-color: $start-color;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.page__modal-container-mistake {
  display: none;
}

.page__modal-container-feedback {
  display: none;
}
