// Colors
$start-color: #ffffff;
$end-color: #000000;
$background-color: #f2f2f2;
$background-color-2: #aabfd2;
$background-color-3: #81b3d2;
$background-color-4: #eeeeee;
$background-color-5: #f3f1ed;
$background-color-6: #dbdbdb;
$background-color-7: #669ec0;
$background-color-8: #5496bd;
$background-color-9: #eaeaea;
$text-color-2: #333333;
$text-color-3: #766357;
$text-color-4: rgba(51, 51, 51, 0.6);
$text-color-5: rgba(0, 0, 0, 0.3);
$text-color-6:  rgba(255, 255, 255, 0.3);
$text-color-7:  rgba(255, 255, 255, 0.2);
$text-color-8: #b3b3b3;
$border-color: #e5e5e5;
$border-color-2: #d6d6d6;

// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
