// Colors
$start-color: #ffffff;
$end-color: #000000;
$background-color: #f2f2f2;
$background-color-2: #aabfd2;
$background-color-3: #81b3d2;
$background-color-4: #eeeeee;
$text-color-2: #333333;
$text-color-3: #766357;

// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
